body {
	background: url("../img/planttreeback.gif") no-repeat center center fixed;
	background-size: cover;
	background-position: 30px 300px;

}
/*css for app header*/
.main-container {
	display: flex;;
	flex-direction: column;
}
header {
	background: #4CAF50;
	height: 60px;
}
header span {
	font-size: 22px;
	color: white;
	line-height: 2.7;
	padding-left: 20px;
}
header .menu_icon  i {
	float: left;
	margin-top: 3px;
	color: #ffffff;
	font-size: 35px;
	margin-left: 15px;
	margin-top: 12px;
}
/*css for login section*/
.app-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 50px !important;
}
.app-logo img {
	height: 60px;
	width: 60px;
	border-radius: 30px;
}
/*css for login container*/
.Login {
	padding: 20px !important;
	margin-top: 25px;
}
.login_register {
	margin-top: 20px;
}
/*css for login/register title*/

.go-button {
	padding: 0px !important;
}
.email-input {
	margin-top: 2rem !important;
}
.email-input input[type=email]:focus, .add_comment input[type=text]:focus, .username input[type=text]:focus  {
	border-bottom: 1px solid #4CAF50 !important;
} 
.email-input input[type=email]:focus + label, .username input[type=text]:focus + label {
	color: #4CAF50 !important;
}

.go-button .btn, .go-button .btn:hover, .save-button .btn, .save-button .btn:hover, .register-button .btn, .register-button .btn:hover {
	background-color: #4CAF50;
	font-size: 18px;
}
/* css for choose a tree page */
.choose_tree {
	text-align: center;
	margin: 25px;
}
.choose_tree span, .plant_thanks span, .about-page span, .contact-page span {
	color: #4CAF50;
	font-size: 18px;
}
.select_tree {
	margin-top: 40px !important;
}
.select_tree .select-wrapper  .caret {
	display: none;
}
.select_tree .select-wrapper .select-dropdown {
	
	border-radius: 20px;
	text-align: center;
	box-shadow: 0px 0px 8px 0px;
	color: #4d4d4d;
}
.select_tree, .add_comment{
	clear: both;
}
.add_comment {
	padding: 15px;
	color: #4d4d4d;
}
.save-button, .register-button {
	text-align: center;
	padding: 20px !important;
}
.done_all{
	background: green;
	color: white;
	padding: 10px;
	border-radius: 22px;
}
/*css for thanks screen*/
.plant_thanks, .about-page, .contact-page {
	text-align: center;
	margin: 15px;
}
.profile_main .card img {
	height: 250px;
}
.card .red {
	text-align: center;
	font-size: 22px;
}
.img-grid img {
	height: 150px;
	width: 150px;
	border-radius: 10px;
}
.camera img {
	width: 50px;
	height: 50px;
}
.camera span {
	color: #4CAF50;
}
.c_image {
	display: none;
}
#myImage {
	border-radius: 10px;
	margin-top: 7px;
}
/*css for drawer*/ 
.background {
	background: url("../img/navbackground.jpg") no-repeat center center fixed;
	background-size: cover;
}
.drawer_title {
	font-size: 18px;
}
.choose_icon img {
	height: 25px;
	width: 25px;
	/*margin-bottom: 2px;*/
}
.choose_icon a, .mine_icon a, .about_icon a {
	font-size: 18px !important;
}
.about_icon img {
	height: 20px;
	width: 20px;
	border-radius: 20px;
	margin-bottom: 3px;
}

.close {
	position: absolute;
	z-index: 999;
	right: 30px;
	top: 228px;
	text-align: center;
}
.close i {
	line-height: 40px !important;
	margin-left: 3px;
	margin-top: 1px;
}
.close a {
	height: 40px !important;
	width: 40px !important	;
}
.close .send {
	display: none;
}
.short_des {
	border: 1px solid grey;
	box-shadow: 0px 0px 10px 0px;
	padding: 5px !important;
	display: none;
}
.select_tree ul {
	height: 100%;
	min-height: 300px;
}
/* css about page */
.about-icon, .contact-icon {
	text-align: center;
	margin-top: 20px;
}
.about-icon img, .contact-icon img {
	height: 150px;
	width: 150px;
}
.about-app {
	text-align: center;
}